@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.banner-area {
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.background-color {
    background-color: #0000006d;
    height: 100vh;
    text-align: center;
    color: white;
}

.heading-title {
    font-size: 50px;
    padding-top: 20%;
    margin-bottom: 20px;
}

.orange-red {
    color: orangered;
}

.button-div {
    margin-top: 30px;
}

.donate-button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: orangered;
}

/* banner area ended */
.donate-area {
    margin-top: 50px;
    text-align: center;
}

.donate-quantity {
    display: flex;
    justify-content: center;
}

.donate-quantity p {
    margin: 20px 10px;
    padding: 10px 15px;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    color: #2d2c2cea;
}

#active-donate {
    background-color: orange;
    color: white;
    border: 2px solid orangered;
}

.donate-input {
    margin: 0 20%;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
}

/* donate section ended */
.donate-plans {
    margin-top: 50px;
    text-align: center;
}

.donate-plan {
    display: flex;
    justify-content: space-around;
    margin: 0 2%;
}

.donate-div {
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.food {
    background: rgba(79, 157, 166, 0.1);
}

.family {
    background-color: rgba(255, 89, 89, 0.1);
}

.education {
    background: rgb(224, 229, 161);
}

.plan-detail {
    color: #707070;
}

/* plan area ended */
.contact-area {
    text-align: center;
    margin: 30px 0;
}

.contact-area h2 {
    margin: 0 20%;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
}

/* contact area ended */
.my-updates {
    text-align: center;
}

.update-form {
    margin: 0 20%;
    padding: 20px 50px;
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.update-form input {
    margin-bottom: 5px;
}